@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-slate-900 text-3xl font-bold;
}
h2 {
    @apply text-slate-700 text-xl font-semibold;
}
p {
    @apply text-slate-500;
}
button {
    @apply font-semibold py-2 px-6 rounded-md;
}
